emacs25/.emacs.d/backups/*
/emacs25/.emacs.d/custom.el
emacs25/.emacs.d/elpa/*
/emacs25/.emacs.d/ido.last
/emacs25/.emacs.d/network-security.data
/emacs25/.emacs.d/auto-save-list/*
/emacs25/.emacs.d/eshell/*
